
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="pos_about">
    <section class="about-sec">
        <img class="bin" src="http://kamalteta.com/Media/Billed.jpg" alt="Joker with binoculars">
        <h2>About Us</h2>
        <article>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sagittis leo massa, venenatis ultricies dolor lobortis eget. Morbi et pretium justo, et consequat nunc. Nulla nunc quam, mattis vitae dapibus semper, auctor quis arcu. Aenean fringilla justo in ultricies tempus. Vestibulum posuere nulla nec enim tristique mollis. Sed sit amet bibendum elit, eget blandit sapien. Curabitur sit amet congue neque.
        </article>

    </section>

    <section class="contact-sec">
       
         <img class="loc" src="http://kamalteta.com/Media/joker_location.png" alt="Joker location">
        <h2>Contact Us</h2>
        <div id="orangebox">
            <div id="logpos">
                <img src="http://kamalteta.com/Media/logo_i_vector_hvid.png" alt="Mysensei logo">
                <p>Ehrvervsakademi Aarhus Sønderhøj 30 Viby J</p>
                <hr>
                <p>(+45) 17236547</p>
                <hr>
                <p>info@mysensei.dk</p>
            </div>
        </div>


    </section>
</div>