<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/reset.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/sass/style1.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <header class="col-12">
        <div id="logo" class="col-6">
            <img src="http://kamalteta.com/Media/logo_i_vector_hvid.png" alt="Mysensei logo" class="col-6">
        </div>

        <nav class="navigation col-6">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li class="loginBtn"><a href="#">Login</a></li>
            </ul>
        </nav>
    </header>


    <div class="loginOverlay hidden nonExistent">
        <img src="http://kamalteta.com/Media/logo_i_vector_hvid.png" alt="Mysensei logo">
        <h2>Log in</h2>
        <form>
            <input type="text" name="username" placeholder="Username" required class="username"><br />
            <input type="text" name="password" placeholder="Password" required class="password"><br />
            <div class="col-6 remember">
                <input type="checkbox" value="Remember me" name="remember"><p>Remember me</p>
            </div>
            <div class="col-6 forgotAndLogin">
                <a href="#">Forgot password</a>
                <input type="button" value="Login" name="login">
            </div>

        </form>
        <div class="col-12">
            <p>Don't have an account yet?</p>
            <button name="signup" value="Sign up!" type="button" class="signupBtn">Sign up!</button>
        </div>

    </div>
    <div class="signup hidden nonExistent">

        <img src="#" alt="Mysensei logo">
        <h1>Sign up</h1>
        <form>
            <input type="text" name="firstname" placeholder="First name" required>
            <input type="text" name="lastname" placeholder="Last name" required>
            <input type="text" name="username" placeholder="Username" required>
            <input type="text" name="password" placeholder="Password" required>
            <input type="text" name="repeat" placeholder="Repeat password" required>
            <input type="email" name="email" placeholder="E-mail address" required>
            <input type="checkbox" value="accept" name="accept">I accept the terms and conditions
            <input type="submit" value="Sign up!" name="signup">
        </form>
        <hr>
        <p>Already a member? <a href="#">Log in</a></p>

    </div>
    @RenderBody()

    <footer class="col-12">
        <div id="social">
            <i class="fa fa-facebook-official"></i>
            <i class="fa fa-twitter-square"></i>
            <i class="fa fa-google-plus-square"></i>
            <i class="fa fa-linkedin-square"></i>
            <i class="fa fa-pinterest-square"></i>
        </div>
        <p>© Roxana, Yordan, Kamal, Robert</p>
    </footer>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/script.js"></script>

</body>
</html>