<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="icon" type="image/png" sizes="96x96" href="~Content/favicon-96x96.png">
    <link href="~/Content/reset.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/sass/style1.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/sass/style2.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <header class="col-12">
        <div id="logo" class="col-6">
            <a href="../Home"><img src="http://kamalteta.com/Media/logo_i_vector_hvid.png" alt="Mysensei logo" class="col-6"></a>
        </div>

        <nav class="navigation col-6">
            <ul>
                <li><a href="../Home">Home</a></li>
                <li><a href="../About">About</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="loggedIn"><i class="fa fa-user"></i></li>

                }
                else
                {
                    <a href="../Account/Login"><li class="loginBtn">Login</li></a>

                }
            </ul>
            
        </nav>

    </header>
    <div class="hidden popup">
        <h2>User panel:</h2>
        <a href="../Home/UserProps">Userpage</a>
        <br />
        @if (User.IsInRole("Administrators"))
        {
        <a href="../Admin">Admin section</a>
        <br />
        }
        <a href="../Account/Logout">Logout</a>
        <br />
    </div>
    @RenderBody()

    <footer class="col-12">
        <div id="social">
            <i class="fa fa-facebook-official"></i>
            <i class="fa fa-twitter-square"></i>
            <i class="fa fa-google-plus-square"></i>
            <i class="fa fa-linkedin-square"></i>
            <i class="fa fa-pinterest-square"></i>
        </div>
        <p>© Roxana, Yordan, Kamal, Robert</p>
    </footer>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/scroll.js"></script>
    <script src="~/Scripts/popup.js"></script>
    <script src="~/Scripts/rotator.js"></script>

</body>
</html>